SOROBAN_NETWORK=testnet
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
ADMIN_SECRET_KEY=SAR3PMAG6OGDV2RZHHXICLCYIZYT4GGFNZ3D3JQAER3TR6DTQIVX2NSE
AGENT_SECRET_KEY=S...

# Published Stellar Testnet Contracts
AGENT_TREASURY_CONTRACT_ID=CCBZLHEHRUBAHGB72ZZLNHBT4RURGTW2SSSQC4DJDDILVDG4VR55FEJL
X402_ESCROW_CONTRACT_ID=CDJS3VHPBXVSFIPA6FUBVS3YXKUGZ75GQ7TQFVPMHBX3KHMREGGNMLFE
AGENT_TREASURY_WASM_HASH=29380629a5eaf495a93d0e4e24a62e34d5780ac26768c3c1957c796503ec80fa
X402_ESCROW_WASM_HASH=740ff4d1c0cbe27077ab1c7b2966783faa3df9aea9d146a3a34c2d12f0faadde
